---
import Header from '../components/Header.astro'
import Avatar from '../components/Avatar.astro'
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jesus Gil</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <div class="container">
        <Header/>
        <main>
            <section>
                <Avatar/>
                <h1>Jesus Gil</h1>
                <p>I'm a software developer based in Chicago. Currently working with Next.js, and Firebase to build dynamic, and accessibe applications.</p>
            </section>
        </main>
        <footer>© 2021 Jesus Gil</footer>
    </div>
</body>
</html>
