---
const { href } = Astro.props;
---

<a class="primary" href={href} target="_blank" rel="noopener noreferrer">
  <slot/>
</a>

<style>
  .primary {
    display: block;
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-sm);
    text-align: center;
  }

  .primary:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary);
  }

  @media (prefers-color-scheme: dark) {
    .primary {
      border: 1px solid var(--color-secondary);
    }

    .primary:hover {
      color: var(--color-primary);
      background-color: var(--color-secondary);
    }
  }
</style>