---
const { href, type = 'primary' } = Astro.props;
---

<a class={type} href={href} target="_blank" rel="noopener noreferrer">
  <slot/>
</a>

<style>
  .primary {
    display: block;
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-sm);
    text-align: center;
  }

  .primary:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary);
  }

  .secondary {
    position: relative;
    padding: var(--space-xs) 0;
  }

  .secondary::before {
    left: 50%;
  }

  .secondary::after {
    right: 50%;
  }



  @media (prefers-reduced-motion: no-preference) {
    .secondary::before, .secondary::after {
      position: absolute;
      content: "";
      bottom: -5px;
      width: 0%;
      height: 1px;
      background-color: var(--color-primary);
      transition: width 200ms ease-out;
    }
    .secondary:hover::before, .secondary:hover::after {
      width: 50%;
      transition: width 200ms ease-in;
    }
  }

  @media (prefers-color-scheme: dark) {
    .primary {
      border: 1px solid var(--color-secondary);
    }

    .primary:hover {
      color: var(--color-primary);
      background-color: var(--color-secondary);
    }

    .secondary::before, .secondary::after {
      background-color: var(--color-secondary);
    }
  }
</style>